# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

client/build
client/node_modules
client/ncp-debug.log
client/npm-debug.log

client/.idea
server/.idea
